$color-primario: white;
$color-secundario: aqua;
$color-terciario: rgb(20, 158, 112);
$color-cuarto: black;
$color-quinto:rgb(149, 149, 78);
$color-sexto: yellow;
$color-septimo: violet;
$color-octavo:  rgb(220, 20, 97);
$color-noveno: rgb(169, 169, 169);
$color-decimo: antiquewhite;
$color-undecimo: rgb(126, 126, 176);
$color-duodecimo: gold;
$color-trigesimo: lightslategray;
